@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: rgba(255, 244, 213, 0.5);
    font-family: Roboto;
    font-weight: 400;
}

tr, td, th {
    border: 0.4px solid black;
    padding: 3px;
    padding-inline: 10px;
    background-color: rgba(255, 244, 213, 1);
    border-radius: 5px;
}

tr img {
    height: 15px;
    padding-inline: 5px;
}

tr button {
    cursor: pointer;
}

th {
    font-weight: none;
}

td {
    text-align:center;
}