#change-password {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#change-password * {
    margin-block: 2px;
}

#change-password div {
    border: 0.4px solid black;
    padding: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#change-password input, #change-password button {
    border-radius: 10px;
    padding: 3px;
}

#change-password button {
    cursor: pointer;
}
